<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	<div class="navbar-collapse collapse">
      
	  <form class="navbar-form navbar-right">
	  		<label>Sort by : </label>
	  	    <select ng-model="orderProp">
	  	    	<option value="name">Alphabetical</option>
	  	    	<option value="age">Newest</option>
	  	    </select>
			<input ng-model="query" placeholder="Search...">
	  </form>
	</div>
</div>
</div>
	<div class="span10">
		<!--Body content-->

		<ul class="phones">
		  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
		    <strong>{{phone.name}}</strong>
		    <p>{{phone.snippet}}</p>
		  </li>
		</ul>
		</div>
	</div>
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>

